# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Submission_2.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\Programming_Submission_2\Submission_2\.idea\.idea.Submission_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
